.Files-button {
  background-color:  var(--blue);
  border-width: 1px;
  border-style: none;
  width: 740px;
  height: 50px;
  color: var(--light-dark);
  font-size: 20px;
  font-weight: Bold;
  font-family: Montserrat;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 13px;
  align-items: center;
  justify-content: left;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  
}
.sup{
  margin-top: 3px;
  height: 70%;
}
.can {
  justify-self: end; 
}