header {
  height: 10vh;
  z-index: 10;
  background-color: #FFFFFF;
}

.navbar {
  display: grid;
  grid-template-columns: auto  auto; 
  align-items: center;
  width: 92vw;
  max-width: none;
  margin-top: 0;
  margin-left: 0;
}

.title {
  margin-top: 4vh;
  color: #023047;
  font-size: 5vh;
  font-weight: 600;
  font-family: Montserrat;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.avatar-icon {
  width: 2.5vw;
  height: 5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #FFFFFF;
}

.info-icon {
  height: 5vh;
  width: 2.5vw;
  margin-right: 3.1vw;
}
