.Subfiles-button {

  background-color: #F8F9FA;
  border-color: #00A6FB;
  border-width: 1px;
  border-style: solid;
  
  width: 700px;
  height: 50px;
  color: #023047;
  font-size: 15px;
  font-weight: Bold;
  font-family: Montserrat;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto auto 1fr 5fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: left;
  padding: 10px 20px;
  display: flex;
  align-items: center;

}

.folder2 {
  height: 100%;
}

.sup2 {
  margin-top: 3px;
  height: 50%;
}
