  .InputButton {
    display: flex;
    flex-direction: column;
  }
  
  .input-button {
    background-color: #b6d8f2;
    color: #242323;
    width: 20rem;
    height: 2.0rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    outline: none;
  }
  
  .input-button::placeholder {
    color: #999;
  }
  