.InputButton {
  display: flex;
  flex-direction: column;
}
.input-button {
  background-color:var( --input);
  color:rgba(var(--dark-to-light), 1);
  transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
  width: 27vw;
  height: 7vh;
  border-radius: 1.2vh;
  border: none;
  font-size: 2.3vh;
  margin-bottom: 0.5vh;
  outline: none;
}
.input-button::placeholder {
  color: #999;
}