
body
{
    font-family: montserrat;
    /* position: relative; */
}
.side{
    background-color: #99DBFD;
    width: 36px;
    height: 256px;
    margin-right: 32px;
    background: #99DBFD;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    gap: 0px;
    }
    .number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #F8F9FA;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
div.buttons
{
    position: relative;
    margin: 0;
    right: 15vw;
    display: grid;
    grid-template-columns: 10vh 10vh 10vh;
    grid-template-areas: "sauv exem prgrm";
    grid-gap: 15vw;
    background-color: #00A6FB;
}
.icon
{
    display: flex;
    margin-left: auto;
    margin-top: 15px;
}
.Bigcontainer
{
    width: 80vw;
    height: auto;
}
.hugecontainer
{
    display: flex;
    flex-direction: row;
}
.icon span
{
    margin-left: 25px;
    cursor: pointer;
}

.box
{
    padding:2%;
    width: 40%;
    min-height: 200px;
    background-color: #F8F9FA;
    border-radius: 0px 10px 10px 0px;
    filter: drop-shadow(82px 37px 36px rgba(170, 204, 238, 0.01)) drop-shadow(46px 21px 30px rgba(170, 204, 238, 0.05)) drop-shadow(20px 9px 22px rgba(170, 204, 238, 0.09)) drop-shadow(5px 2px 12px rgba(170, 204, 238, 0.1)) drop-shadow(0px 0px 0px rgba(170, 204, 238, 0.1));
}
.box div
{
background-color: #99DBFD;
width: 10%;
border-top-left-radius: 16px;
border-bottom-left-radius: 16px;
display: inline;
height: 200px;
}
.button
{
    border-radius:30px;
    border-color: transparent;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: #023047;
    letter-spacing: 1.7px;
    font-size: 10px;
}
.buttons
{
display: flex;
width: 30%;
}
#btn1:hover
{
    filter: drop-shadow(0 0 0.3rem #00A6FB);
}
#btn1
{

   margin-left: auto;
   margin-right: auto;
   
}
#btn2
{
   
   margin-left: auto;
   margin-right: auto;
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 184px;
    height: 20px;
    margin-left: 24px;
    cursor: pointer;
    background: #00A6FB;
    box-shadow: 0px 42px 17px rgba(43, 110, 177, 0.01), 0px 3px 6px rgba(43, 110, 177, 0.1);
    border-radius: 30px;
    width: 100px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #F8F9FA;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#btn2:hover
{
filter: drop-shadow(0 0 0.3rem #00A6FB);
}
.container
{
width: 70%;
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: nowrap;
margin-top: 120px;
margin-bottom: 24px;
}
.container2
{
display: flex;
position: relative;
right:6%;
flex-direction: row;
margin-top: 30px;
width: 300px;
margin-left: auto;
margin-right: 12%;
justify-content: flex-start;
}
a
{
    margin-bottom: auto;

}

button#btn4.button:hover
{
    color: white;
    filter: drop-shadow(0 0 0.3rem #00A6FB);
}
#btn3
{
    width: 130px;
    margin-left: auto;
   margin-right: auto;
   color: #023047;
   background-color: white;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
#btn3:hover
{
    filter: drop-shadow(0 0 0.1rem #00A6FB);

}
.textarea 
{   
margin-left: auto;
margin-right: auto;
resize: none;
color: #023047;
font-size: 36px;
}
textarea:focus 
{
outline: none; /* Cette propriété permet de désactiver la bordure */
border-color: #00A6FB /* Cette propriété permet de définir la couleur de la bordure */
}
textarea::placeholder
{
    color: #023047; 
}
hr
{
width:40%;
border-color: #00A6FB;
position: relative;
    top: 36px;
}
.Bigcontainer
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/* 1230px */
/* @media  (min-width: 900px) and (max-width:1200px)
{
    .buttons
    {
        width: 40%;
    }
    hr 
    {
        width:40%;
    }
} */
h4
{
    margin-top: auto;
    margin-bottom: auto;
    color: #023047;
}
/* @media  (max-width:900px)
{
    .buttons
    {
        width: 60%;
    }
    hr 
    {
        width: 50%;
    }   
} */
.compiled
{
    margin-left:  65%;
    width: 50%;
    font-size: 15px;
    margin-right: auto;
}