body
{
    font-family: montserrat;
}
.side_bar
{
    width: 20px;
    height: 100%;
    background-color: aqua;
}
div.buttons
{
    margin-top: 0px;
}
.icon
{
    display: flex;
    margin-left: auto;
    margin-top: 15px;
}
.Bigcontainer
{
    width: 80%;
}
.hugecontainer
{
    display: flex;
    flex-direction: row;
}
.icon span
{
    margin-left: 25px;
    cursor: pointer;
}
.mini_nav
{
    display: flex;
}
.box
{
    padding:2%;
    width: 35%;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
}
.box div
{
background-color: #99DBFD;
width: 10%;
border-top-left-radius: 16px;
border-bottom-left-radius: 16px;
display: inline;
height: 200px;
}
.button
{
    border-radius:30px;
    border-color: transparent;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    color: #023047;
    letter-spacing: 1.7px;
    font-size: 10px;
}
.buttons
{
display: flex;
width: 30%;
}
#btn1:hover
{
    filter: drop-shadow(0 0 0.3rem #00A6FB);
}
#btn1
{
    border-color:  #00A6FB;
   background-color: white;
   margin-left: auto;
   color: #023047;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
   margin-right: auto;
   
}
#btn2
{
   background-color: #00A6FB; 
   color: white;
   margin-left: auto;
   margin-right: auto;
}
#btn2:hover
{
filter: drop-shadow(0 0 0.3rem #00A6FB);
}
.container
{
width: 70%;
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: nowrap;
}
.container2
{
display: flex;
flex-direction: row;
margin-top: 30px;
width: 300px;
margin-left: auto;
margin-right: 12%;
justify-content: flex-start;
}
a
{
    margin-bottom: auto;

}

button#btn4.button:hover
{
    color: white;
    filter: drop-shadow(0 0 0.3rem #00A6FB);
}
#btn3
{
    width: 130px;
    margin-left: auto;
   margin-right: auto;
   color: #023047;
   background-color: white;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
#btn3:hover
{
    filter: drop-shadow(0 0 0.1rem #00A6FB);

}
.textarea 
{   
margin-left: auto;
margin-right: auto;
resize: none;
color: #023047;
font-size: 15px;
}
textarea:focus 
{
outline: none; /* Cette propriété permet de désactiver la bordure */
border-color: #00A6FB /* Cette propriété permet de définir la couleur de la bordure */
}
textarea::placeholder
{
    color: #023047; 
}
hr
{
width:40%;
border-color: #00A6FB;
}
.Bigcontainer
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/* 1230px */
@media  (min-width: 900px) and (max-width:1200px)
{
    .buttons
    {
        width: 40%;
    }
    hr 
    {
        width:40%;
    }
}
h4
{
    margin-top: auto;
    margin-bottom: auto;
    color: #023047;
}
@media  (max-width:900px)
{
    .buttons
    {
        width: 60%;
    }
    hr 
    {
        width: 50%;
    }   
}
.compiled
{
    margin-left:  65%;
    width: 50%;
    font-size: 15px;
    margin-right: auto;
}