body{
    font-family: montserrat;
    overflow-y: scroll;
}
.erreur
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    color: crimson;
    display: flex;
    justify-content: center;
}
.side{
    background-color: #99DBFD;
    width: 36px;
    height: 256px;
    margin-right: 32px;
    background: #99DBFD;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    gap: 0px;
    }
    .number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #F8F9FA;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
.base{
    width: 36px;
    height: 16px;
    background-color: #FFE600;
    color:#023047;
    padding: 4px 19px;
    text-align: center;
    position: relative;
    left: 66px;
    border-radius: 8px 0px 0px 0px;
    font-size: 13px;
}

.sauvegarder1{
    position: absolute;
    left: 20vw;
    top: 25vh;
}
.icon
{
    display: flex;
    margin-left: auto;
    margin-top: 15px;
}
.Bigcontainer
{
    width: 80vw;
    height: auto;
}
.hugecontainer
{
    display: flex;
    flex-direction: row;
}
.icon span
{
    margin-left: 25px;
    cursor: pointer;
}

.box
{
    padding:2%;
    width: 40%;
    min-height: 200px;
    background-color: #F8F9FA;
    border-radius: 0px 10px 10px 0px;
    filter: drop-shadow(82px 37px 36px rgba(170, 204, 238, 0.01)) drop-shadow(46px 21px 30px rgba(170, 204, 238, 0.05)) drop-shadow(20px 9px 22px rgba(170, 204, 238, 0.09)) drop-shadow(5px 2px 12px rgba(170, 204, 238, 0.1)) drop-shadow(0px 0px 0px rgba(170, 204, 238, 0.1));
}
.box div
{
background-color: #99DBFD;
width: 10%;
border-top-left-radius: 16px;
border-bottom-left-radius: 16px;
display: inline;
height: 200px;
}
.buttons
{
display: flex;
}
#btn1:hover
{
    filter: drop-shadow(0 0 0.3rem #00A6FB);
}
#btn1
{

   margin-left: auto;
   margin-right: auto;
   
}
#btn2
{
   
   margin-left: auto;
   margin-right: auto;
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 184px;
    height: 20px;
    margin-left: 24px;
    cursor: pointer;
    background: var(--blue);
    box-shadow: 0px 42px 17px rgba(43, 110, 177, 0.01), 0px 3px 6px rgba(43, 110, 177, 0.1);
    border-radius: 30px;
    width: 100px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #F8F9FA;
    flex: none;
    order: 0;
    flex-grow: 0;
    visibility: hidden;
}
#btn2:hover
{
filter: drop-shadow(0 0 0.3rem #00A6FB);
}
.container
{
width: 70vw;
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: nowrap;
margin-top: 16vh;
margin-bottom: 24px;
}
.container2
{
display: flex;
position: relative;
right:9vw;
flex-direction: row;
margin-top: 8px;
width: 300px;
margin-left: auto;
margin-right: 12%;
justify-content: flex-start;
}

a
{
    margin-bottom: auto;

}

button#btn4.button:hover
{
    color: white;
    filter: drop-shadow(0 0 0.3rem #00A6FB);
}
#btn3
{
    width: 130px;
    margin-left: auto;
   margin-right: auto;
   color: #023047;
   background-color: var(--background-color);
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
#btn3:hover
{
    filter: drop-shadow(0 0 0.1rem #00A6FB);

}
div.container div 
{
    width:40%;
}
.textarea 
{   
margin-left: auto;
margin-right: auto;
resize: none;
color: #023047;
font-size: 24px;
width: 25vw;
height: 40vh;
border-color: #00A6FB;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
padding: 3vh;
}
textarea:focus 
{
outline: none; /* Cette propriété permet de désactiver la bordure */
border-color: #00A6FB /* Cette propriété permet de définir la couleur de la bordure */
}
textarea::placeholder
{
    color: #023047; 
    font-size: 15px;
}
.Bigcontainer
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
div.container  div.hex
{
    width: 100%;
    text-align: center;
    background-color: #FFE600;
    margin-left: auto;
   border-top-left-radius: 8px;
   font-weight: 500;
   color: #023047;
}
h4
{
    margin-top: auto;
    margin-bottom: auto;
    color: #023047;
}

.body
{
    top: 0px;
    left: 0px;
}
.Title 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    border-radius: 20px;
    border: 1px solid #00A6FB; ;
    height:35px;
    font-size: 20px;
    min-width: 60%  ;
    max-width: 60%  ;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    overflow: hidden;
}
.Title::placeholder
{
    font-size: 15px;
    opacity: .8;
}
#pop_up
{
    border-radius: 15px;
    background-color: white;  
    width: 40vw;
    height: 34vh;
    display: flex;
    position: fixed;
    top: 33vh;
    left: 30vw;
    z-index: 10;
    visibility: hidden;  
    filter: drop-shadow(0 0 0.225rem #00A6FB);
}
.hide_bg
{
    filter: blur(23px);
}
#submit
{
    position: absolute;
    width: 80px;
    box-sizing: border-box;
    height: 20px;
    right: 10%;
    bottom: 10%;
    background-color: #00A6FB;
    border: transparent;
    color: white;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 15px;
}
div.container  div.blue_box
{
background-color: #99DBFD;
width: 6vw;
height: 46.2vh;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: center;
}
div.container > div
{
    display: flex;
    flex-direction: row;
}
@media (max-width: 700px)
{
    #pop_up
    {
        width: 60%;
        margin-left: -13%;
    }
}
.erreur
{
text-align: center;
width: 100%;
color: red;
font-weight: bold;
}

.blue_box div
{
color: #ffff;
font-weight: bold;
margin-left: 30%;
}
#blue_box_2 div
{
    margin-bottom:10px;
}

#blue_box_1 div
{
    margin-top:10px;
}
hr
{
    width: 50%;
    border-color: #00A6FB;
}
.compiled 
{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    color: 	#32CD32
}