:root {
    --background-color: #F8F9FA;
    --light-dark: #F8F9FA;
    --blue: #00A6FB;
    --light-dark-blue: #B6D8F2;
    --yellow: #FFE600;
    --white-to-light: #F8F9FA;
    --dark-to-light:#023047; 
    --input: #B6D8F2 ; 
    --settingsNav : #5784BA ; 

  }
  
  :root[data-theme="dark"] {
    --background-color: #171720;
    --light-dark: #252E46;
    --blue: #B2E4FD;
    --light-dark-blue: #252E46;
    --yellow: #FFE600;
    --white-to-light: #B2E4FD;
    --dark-to-light : #77D1FF; 
    --input:#B2E4FD ; 
    --settingsNav : #77D1FF ;
  }
   