button:hover {
  cursor: pointer;
}

.Menu-container {
  overflow-y: scroll;
  height: -moz-max-content;
  height: -webkit-max-content;
  height: max-content;
  max-height: calc(90vh - 20vh);
  width: 100%;
  display: grid;
  grid-template-columns:1fr;
  justify-items: center;
  margin-top: 5%;
}

.menu-trigger-exemple {
  margin-bottom: 1%;
}
.subfiles-arithmetic , .subfiles-logic , .subfiles-branching , .subfiles-transfer, .subfiles-shift {
  margin-top: 2%;
  margin-bottom: 2%;
}
 
.menu-trigger-mesFichiers {
  margin-bottom: 2%;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
}

/* Hide scrollbar if not scrolling */
.Menu-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Toggle visibility of menu examples */
.Menu-exemples {
  display: grid;
  grid-template-columns: auto auto;
  display: none;

}

.Menu-exemples.show {
  display: block;
 margin-left: 3%;
  
}



/* Toggle the visibility of subfiles-arithmetic*/
.file-arithmetic{
  display: none;

}
.file-arithmetic.show{
  display: block;
  margin-left: 4%;
}

/* Toggle the visibility of subfiles-logic*/
.file-logic{
  display: none;

}
.file-logic.show{
  display: block;
  margin-left: 4%;
}
/* Toggle the visibility of subfiles-branching*/
.file-branching{
  display: none;
  
}
.file-branching.show{
  display: block;
  margin-left: 4%;
}

/* Toggle the visibility of subfiles-transfer*/
.file-transfer{
  display: none;
}
.file-transfer.show{
  display: block;
  margin-left: 4%;
}
/* Toggle the visibility of subfiles-decalage*/
.file-shift{
  display: none;
}
.file-shift.show{
  display: block;
  margin-left: 4%;
}



/* Toggle visibility of file examples */
.file-perso {
  display: none;
}

.file-perso.show {
  display: block;
  margin-left: 4%;
}

.file-exemple table td {
  border: none;
  
}



.Loope {
  height: 18rem;
  width: 20rem;
 margin-left: 25%;
}

