/******************************************** GUIDE STYLE ********************************************/

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
}


/************************************* HOME PAGE GUIDE STYLE *****************************************/

.guide-image {
    width: 72vw;
    height: 80vh;
    position: absolute;
    top: 6vh;
}


/****************************************** BUTTONS STYLE ********************************************/

.suiv {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 6vh;
    left: 80vw;
    padding: 2.2vh 3.5vw;
    background: #00A6FB;
    box-shadow: 0px 42px 17px rgba(43, 110, 177, 0.01), 0px 3px 6px rgba(43, 110, 177, 0.1);    
    color: #FFFFFF;
    border: 0.2vh solid #00A6FB;
    border-radius: 2vw;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.2vh;
}
.prev {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 6vh;
    left: 66.5vw;
    padding: 2.2vh 3.5vw;
    background: #F8F9FA;
    box-shadow: 0px 42px 17px rgba(43, 110, 177, 0.01), 0px 3px 6px rgba(43, 110, 177, 0.1);
    color: #00A6FB;
    border: 0.2vh solid #00A6FB;
    border-radius: 2vw;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.2vh;
}
.suiv:hover, .prev:hover{
  filter: drop-shadow(0 0 0.15rem #00A6FB);
}


/************************************* ARCHITECTURE PAGE STYLE ***************************************/

.heroinstr .h2,.heroform .h2,.heroarch .h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 550;
  font-size: 2vw;
  color: #023047;
  position: absolute;
  left: 10vw;
  top: 10vh;
}
.heroarch .p1title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 1.5vw;
    color: #023047;
    position: absolute;
    left: 10vw;
    top: 20vh;
}
.heroarch .p1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.35vw;
    color: #023047;
    position: absolute;
    left: 10vw;
    top: 26vh;
}
.heroarch .p2title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 1.5vw;
    color: #023047;
    position: absolute;
    left: 10vw;
    top: 36vh;
}
.regs {
  display: flex;
  flex-direction: column;
}
.r1, .r2, .r3, .r4, .r5, .r6, .r7 {display: flex;}
.r1 span, .r2 span, .r3 span, .r4 span, .r5 span, .r6 span, .r7 span {
  position: absolute;
  left: 12vw;
  font-size: 1.2vw;
}
.regs li svg {
  height: 2vh;
  width: 1vw;
  position: absolute;
  left: 10vw;
  margin-top: 0.75vh;
  box-shadow: -2px 20px 8px rgba(38, 45, 52, 0.01), -1px 11px 7px rgba(38, 45, 52, 0.05);
}
.r1 svg,.r1 span{top: 45vh;}
.r2 svg,.r2 span{top: 50vh;}
.r3 svg,.r3 span{top: 55vh;}
.r4 svg,.r4 span{top: 60vh;}
.r5 svg,.r5 span{top: 65vh;}
.r6 svg,.r6 span{top: 70vh;}
.r7 svg,.r7 span{top: 75vh;}
.heroarch .p2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.35vw;
  line-height: 4.3vh;
  color: #023047;
  position: absolute;
  left: 10vw;
  top: 78vh;
}
.heroarch .Architecture {
  width: auto;
  height: 60vh;
  position: absolute;
  left: 63vw;
  top: 20vh;
}


/********************************* INSTRUCTION FORMAT PAGE STYLE *************************************/

.heroform{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroform .Formatinst {
  position: absolute;
  top: 18vh;
  width: 55vw;
  height: 30vh;
}
.heroform .text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2.3vh;
  line-height: 3.7vh;
  color: #023047;
  position: absolute;
  top: 45%;
  display: flex;
  align-items: flex-start;
  width: 40vw;
  padding: 3vh 3.3vw;
  background: #99DBFD;
  box-shadow: 0px 67px 27px rgba(112, 158, 205, 0.01), 0px 38px 23px rgba(112, 158, 205, 0.05), 0px 17px 17px rgba(112, 158, 205, 0.09), 0px 4px 9px rgba(112, 158, 205, 0.1), 0px 0px 0px rgba(112, 158, 205, 0.1);
  border-radius: 20px;
}


/************************************ INSTRUCTIONS PAGE STYLE ****************************************/

.heroinstr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.arth, .log, .shrt, .brch, .dtrs, .inout {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 2.9vh;
  color: #FFFFFF;
  filter: drop-shadow(0px 51px 20px rgba(65, 112, 159, 0.01)) drop-shadow(0px 29px 17px rgba(65, 112, 159, 0.05)) drop-shadow(0px 13px 13px rgba(65, 112, 159, 0.09)) drop-shadow(0px 3px 7px rgba(65, 112, 159, 0.1)) drop-shadow(0px 0px 0px rgba(65, 112, 159, 0.1));
  position: absolute;
  padding: 2.6vh 3vw 2.6vh;
  background-color: #00A6FB;
  border-radius: 3vh;
  display: flex;
  align-items: flex-start;
  width: 45vw;
}
.arth{top: 23vh;}
.log{top: 33.5vh;}
.shrt{top: 44vh;}
.brch{top: 54.5vh;}
.dtrs{top: 65vh;}
.inout{top: 75.5vh;}
.heroinstr .prev{left: 80vw;}


/********************************* ARETHMETIC INSTRUCTIONS STYLE *************************************/

table {
  border-collapse: collapse;
  margin-bottom: 10vh; 
}
td, th {
  border: 0.2vh solid #00A6FB;
  padding: 1vh;
}
thead th {
  border: 0.2vh solid #00A6FB;
  padding: 1vh;
  font-weight: 600;
  font-size: 3.2vh;
}
tbody td {
  text-align: left;
  font-size: 2.8vh;
}
.t{text-align: center;}


/*****************************************************************************************************/