.Containerlogin {
    display: flex;   
    align-items: flex-end;
    flex-direction: row-reverse; 
  }
  
  .FormLogin {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    height: 100vh; 
  }
  
  .ForgotPass,
  .SignUp {
    margin-top: 1rem;
    font-size: 14px;
  }
  
  .SignUp a {
    color: #00A6FB;
  }
  
  
 
  
  
 
  
  
  
  
  