.Containerlogin {
    display: flex;   
    flex-direction: row-reverse; 
    align-items: center;
    
  }
  span {
    color: black;
  }
  .illustration{
    height: 98vh; 
    width: 100vh;
  }
  .illustration img {
    
    transform: scale(1.4); /* increases the size of the image by 20% */
    
  }
  
  .FormLogin {
    margin-top: 6vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
  
    
  }
  .SignUp {
    font-size: small;
  }
  button{
    transform: scale(1.1); 
  }
  
  .SignUp a {
    color: #00A6FB;
  }
 
 
 
  
  
 
  
  
  
  
  