.LivresPage, .SitesPage, .VideoPage, .ExplicationsPage {
    height: 100Vh;
    width: 100vw;
}

.containerLivres, .containerSites, .containerVideos, .containerExplication {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 10%;
}

.BUTTON {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    background-color: var(--blue);
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.Description {
    padding-left: 10%;
    display: block;
}


.ButtonRessource .Description .lien {
    display: flex;
    align-items: center;
    margin-left: 60%;
    margin-bottom: 20px;
}

.ButtonRessource .lien a {
    color: var(--blue);
    font-weight: 600;
    font-size: large;
    display: block;
    margin-left: 10px;
}

.ButtonExplication .lien {
    background: var(--background-color);
    border: 1px solid #00A6FB;
    box-shadow: 0px 42px 17px rgba(43, 110, 177, 0.01), 0px 10px 10px rgba(43, 110, 177, 0.09), 0px 3px 6px rgba(43, 110, 177, 0.1), 0px 0px 0px rgba(43, 110, 177, 0.1);
    border-radius: 32px;
    width: 120px;
    height: 40px;
    margin-left: 55%;
    margin-bottom: 20px;
}

.ButtonExplication p{
    color: var(--dark-to-light);
}
p{
    color: var(--dark-to-light);  
}
.ButtonExplication .lien a {
    color: #00A6FB;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LienIcone {
    width: 25px;
}

.containerLivres span, .containerSites span, .containerVideos span, .containerExplication span {
    padding-left: 20px;
    color: var(--light-dark-blue);
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 100%;
}

.ButtonRessource .fleche {
    width: 9px;
    padding-right: 5px;
}

.ButtonExplication .fleche {
    width: 14px;
    padding-right: 5px;
}

.ButtonExplication {
    position: relative;
    overflow: hidden;
  }
  .ButtonExplication p {
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: 30%; /* add a 10px right margin */
    animation: slide-in 0.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 2%;
  }
  
  @keyframes slide-in {
    from {
      left: -100%;
      opacity: 0;
    }
    to {
      left: 0%;
      opacity: 1;
    }
  }
  .containerExplication {
    overflow-y: scroll;
    max-height: 70vh;
  }
 