.ContainerRevision {
    box-sizing: border-box;
    height: 100Vh;
    width: 100vw;
    padding-left: 20%;
    padding-right: 17%;
    padding-top: 5% ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Quiz, .Explication, .Ressources {
    height: 45%;
    width: 25%;
    position: relative;
}

.ButtonRevision {
        /*L'effet*/
        background: linear-gradient(108.74deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.06) 100%);
        box-shadow: 0px 0px 50px -25px rgba(128, 122, 122, 0.5);
        backdrop-filter: blur(15px);
        /*Borders*/
        border: 1px solid #00A6FB;
        border-radius: 30px;
        height: 100%;
        width: 100%;
        /*Font*/
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 100%;
        /*Position*/
        position: absolute;
        top: 0;
        left: 0; 
        /*Centrer le texte*/
        display: flex;
        align-items: center;
        justify-content: center;
        color: #023047;
}

 .RessourcesImg {
    position: absolute;
    width: 30%;
    height: 50%;
    top: -25%;
    left: 80%;
}

.LampeImg {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 55%;
    left: -15%; 
}

.ExplicationImg {
    position: absolute;
    width: 50%;
    height: 100%;
    top: -47%;
    left: -20%; 
    animation: rotation 4s linear infinite;
}

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
