.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 80%;
  margin-left: 8%;
}

.Settingsbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  color: #5784BA;
}

.MotDePassePage,
.ProfilePage,
.ModePage,
.LanguePage,
.Settings {
  margin-left: 10%;
}

.blue-rectangle {
  background-color: #B6D8F2;
  height: 100px;
  width: 80%;
  margin-left: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  margin-top: 100px;
  border-radius: 80px 80px 0px 0px;
}

.modifybutton {
  background-color: white;
  border: 1px solid #00a6fb;
  margin-right: 5%;
  color: #023047;
  font-size: 14px;
  margin-top: 4%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.FormSettings svg {
  width: 25%;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .Form svg {
    margin-top: 130px;
  }
}

.Settingsbar {
  margin-top: 100px;
  margin-bottom: 50px;
}

.containerSettings , .ProfileContainer , .LangueContainer , .ModeContainer {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



@media (min-width: 768px) {
  .containerSettings {
    flex-wrap: wrap;
  }
}

input {
  height: 40px;
  margin-bottom: 8%;
  margin-top: 2%;
  border: none;
  border-radius: 5px;
  background-color: #b6d8f2;
  opacity: 0.36;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.36);
}

.ProfilePage .Inputs {
  width: 40%;
}

.MotDePassePage .Inputs {
  width: 22%;
}

.LanguePage .Inputs {
  width: 30%;
}

.ModePage .Inputs {
  width: 30%;

}

.Inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0%;
}




.sauvegarder {
  height: 40px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 0 20px;
  background: #00A6FB;
  border-radius: 30px;
  border: none;
  color: #F8F9FA;
}

.annuler {
  height: 40px;
  margin-right: 0px;
  margin-left: 10px;
  background: #F8F9FA;
  padding: 0 20px;
  border: 1px solid #00A6FB;
  box-shadow: 0px 42px 17px rgba(43, 110, 177, 0.01), 0px 3px 6px rgba(43, 110, 177, 0.1);
  border-radius: 30px;

}

.annuler:hover {
  filter: drop-shadow(0 0 0.3rem #00A6FB);
}

.sauvegarder:hover {
  filter: drop-shadow(0 0 0.3rem #00A6FB);
}

.TwoButtons {
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  width: 30%;
  margin-right: 10%;
  justify-content: flex-end;

}

.LangueForm .TwoButtons{
  margin-top: 17.5%;

}
.ModeForm .TwoButtons{
  margin-top: 17.5%;

}

label {
  font-family: Montserrat;
  font-size: 16px;
  color: #023047
}






.FranceButton {
  background: #00A6FB;
  border-radius: 8px;
  color: #F8F9FA;
  border: none;
  height: 50px;
  
  margin-top: 1%;
  font-size: 14px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content:flex-start;
  align-items: center;

}

.UsaButton {

  background: rgba(182, 216, 242, 0.36);
  border-radius: 8px;
  border: none;
  color: #023047;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  margin-bottom: 2%;
  margin-top: 12%;
  font-size: 14px;
  display: flex;
  justify-content:flex-start;
  align-items: center;

}

.LightButton{

  
  background: #00A6FB;
  border-radius: 8px;
  border: none;
  color: #F8F9FA;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  margin-bottom: 2%;
  margin-top: 12%;
  font-size: 14px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 100%;

}

.DarkButton{

  background: rgba(182, 216, 242, 0.36);
  border-radius: 8px;
  color: #023047;
  border: none;
  height: 50px;
  
  margin-top: 1%;
  font-size: 14px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.france ,.unitedStates ,.Moon ,.Sun {
  margin-right: 10px;
}


.LangueLabel , .ModeLabel  {

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
color: #023047;
}

