

.Settingsbar {
  position: relative;
}

.Settingsbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00A6FB;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  width: 80%;
  margin-left: 8%;
  color: var(--light-dark-blue);
}

.nav-links a {
  position: relative;
  color: var(--settingsNav);
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color:var( --dark-to-light);
  transition: width 0.3s;
  z-index: 2;
}

.nav-links a.active {
  color: #00A6FB;
}

.nav-links a.active::before {
  width: 100%;
}

.nav-links a:hover::before,
.nav-links a:focus::before {
  width: 50%;
}

.nav-links a:focus ~ .Settingsbar::after {
  transform: scaleX(1);
}

.MotDePassePage,
.ProfilePage,
.ModePage,
.LanguePage,
.Settings {
  margin-left: 10%;
  background-color: var(--background-color);
  
}

.blue-rectangle {
  background-color: var(--light-dark-blue);
  height: 120px;
  width: 80%;
  margin-left: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  margin-top: 100px;
  border-radius: 80px 80px 0px 0px;
}

.modifybutton {
  background-color: var( --white-to-light);
  border: 1px solid #00a6fb;
  margin-right: 5%;
  color: #023047;
  font-size: 14px;
  margin-top: 4%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.FormSettings svg {
  width: 12%;
  margin-top: 120px;
  margin-left: 8%;
}

@media (max-width: 768px) {
  .Form svg {
    margin-top: 130px;
  }
}

.Settingsbar {
  margin-top: 160px;
  margin-bottom: 50px;
  padding: 0px 25px;
}

.containerSettings,
.ProfileContainer,
.LangueContainer,
.ModeContainer {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.LangueContainer,
.ModeContainer {
  margin-left: 2%;
}



@media (min-width: 768px) {
  .containerSettings {
    flex-wrap: wrap;
  }
}

input {
  height: 40px;
  margin-bottom: 8%;
  margin-top: 2%;
  border: none;
  border-radius: 5px;
  background-color: var(--input);
  opacity: 0.36;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.36);
}

.ProfilePage .inputButton {
  background-color: var(--input);
}

.MotDePassePage .inputButton {
  background-color: var(--input);
}

.ProfilePage .Inputs {
  width: 40%;
}

.MotDePassePage .Inputs {
  width: 22%;
}

.LanguePage .Inputs {
  width: 30%;
}

.ModePage .Inputs {
  width: 30%;

}

.Inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0%;
}




.sauvegarder {
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 20px;
  background:var( --blue);
  border-radius: 30px;
  border: none;
  color: var(--background-color);
}

.annuler {
  height: 40px;
  margin-right: 0px;
  margin-left: 10px;
  background: var( --light-dark);
  padding: 0 20px;
  border: 1px solid var(--dark-to-light);
  box-shadow: 0px 42px 17px rgba(43, 110, 177, 0.01), 0px 3px 6px rgba(43, 110, 177, 0.1);
  border-radius: 30px;
  color: var(--dark-to-light);

}

.annuler:hover {
  filter: drop-shadow(0 0 0.3rem #00A6FB);
}

.sauvegarder:hover {
  filter: drop-shadow(0 0 0.3rem #00A6FB);
}

.TwoButtons {
  display: flex;
  flex-direction: row;
  
  width: 30%;
  
  justify-content: flex-end;

  position: fixed;
  bottom: 5%;
  right: 10%;
  
}


.LangueForm{
position: relative;
  height: 100vh;
  overflow: hidden;
  }
.LangueForm .TwoButtons {
  position: fixed;
  bottom: 5%;
  right: 10%;

}

.ModeForm {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.ModeForm .TwoButtons {
  position: fixed;
  bottom: 5%;
  right: 10%;
  
}

label {
  font-family: Montserrat;
  font-size: 16px;
  color: var(--dark-to-light); 
}






.FranceButton {
  background: var( --blue);
  border-radius: 8px;
  color: #F8F9FA;
  border: none;
  height: 50px;
  margin-left: 0px;
  margin-top: 5%;
  font-size: 14px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  

}

.UsaButton {

  background: rgba(182, 216, 242, 0.36);
  border-radius: 8px;
  border: none;
  color: var(--dark-to-light);
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  margin-bottom: 2%;
  margin-top: 12%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.LightButton {


  background: var( --blue);
  border-radius: 8px;
  border: none;
  color:var(--background-color);
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  margin-bottom: 2%;
  margin-top: 12%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}
.LightModeLabel{
  color: #F8F9FA;
}

.DarkButton {

  background: rgba(182, 216, 242, 0.36);
  border-radius: 8px;
  color:var(--dark-to-light);
  border: none;
  height: 50px;

  margin-top: 5%;
  font-size: 14px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.france,
.unitedStates,
.Moon,
.Sun {
  margin-right: 10px;
}


.LangueLabel,
.ModeLabel {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color:var(--dark-to-light);
  margin-left: 1%;
}
 body{
background-color:  var(--background-color);
 }

