.Container2 {
    display: flex;   
    align-items: flex-end;
    flex-direction: row-reverse;
    
  }
  
  /* .ImageClass {
    flex: 1;
    max-width: 10%;
  height: auto;
  } */
  
  .Form2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    
    height: 100vh; 
  }
  
  
  
  .SignUp a {
    color: #00A6FB;
  }
  
  
  .button-1,
  .button-2 {
    background-color: #B6D8F25C;
    color: #333;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin-bottom: 1rem;
    outline: none;
  }
  
  .button-1::placeholder,
  .button-2::placeholder {
    color: #999;
  }
  
  .LoginButton {
    background-color: #00A6FB;
    color: aliceblue;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 14px;

    margin: 40%;
    outline: none;
    
  }
  
  
  
  
  