.Container2 {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  height: 90vh;
}

.Form2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0%;
}

.Login {
  
  margin-right: 2%;
}

.Container2 a {
  color: #00A6FB;
}


