.Simulation .Container {
  position: relative;
  color: var(--dark-to-light);
  padding: 50px;
  height: 100Vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 45% auto 50%;
  align-items: flex-start;
}

.Registre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.registre {
  display: flex;
  align-items: center;
  border: 2px solid #00A6FB;
  background-color: #DCEFFD;
  border-radius: 5px;
  width: 100%;
  height: 75%;
}

.Registre .NomReg {
  width: 30%;
  height: 75%;
}

.Registre .C1,
.Registre .C2,
.Registre .C3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 80%;
  padding: 1%;
  border-right: 1px solid #00A6FB;
}

.Registre .C4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 80%;
  padding: 1%;
}

.Registres {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.registres {
  margin-top: 2px;
  height: 50%;
}

.RegToBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42.25%;
}

.RegToBusDonnees .triangleHaut,
.RegToBusDonnees .triangleBas {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.RegToBusDonnees .triangleHaut {
  border-bottom: 20px solid var(--dark-to-light);
}

.RegToBusDonnees .triangleBas {
  border-top: 20px solid var(--dark-to-light);
}

.RegToBusDonnees .rectangle {
  width: 10%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/**********************************************************************/
.Pile {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pile {
  margin-top: 2px;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  overflow-y: scroll;
  width: 100%;
  height: 31Vh;
}


.RegistrePile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RegistrePile .C1,
.RegistrePile .C2,
.RegistrePile .C3,
.RegistrePile .C4 {
  width: 25%;
  padding: 2%;
  text-align: center;
  border-right: 1px solid var(--dark-to-light);
  border-bottom: 1px solid var(--dark-to-light);
}

.pile::-webkit-scrollbar {
  width: 5px;
  background-color: var(--background-color);
  border-radius: 5px;
}

.pile::-webkit-scrollbar-thumb {
  background-color: var(--dark-to-light);
  border-radius: 5px;
}

.PileBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10Vh;
  width: 10%;
}

.PileBusDonnees .triangleHaut,
.PileBusDonnees .triangleBas {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.PileBusDonnees .triangleHaut {
  border-bottom: 20px solid var(--dark-to-light);
}

.PileBusDonnees .triangleBas {
  border-top: 20px solid var(--dark-to-light);
}

.PileBusDonnees .rectangle {
  width: 100%;
  height: 1000%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/*******************************************************************/

.Memoire {
  margin-top: 2px;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  overflow-y: scroll;
  width: 70%;
  height: 31Vh;
  text-align: center;
}

.Memoire::-webkit-scrollbar {
  width: 5px;
  background-color: #CFEFFF;
  border-radius: 5px;
}

.Memoire::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  height: 20px;
  border-radius: 5px;
}

.CaseMemoire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CaseMemoire .C1,
.CaseMemoire .C2,
.CaseMemoire .C3,
.CaseMemoire .C4 {
  width: 25%;
  padding: 2%;
  text-align: center;
  border-right: 1px solid var(--dark-to-light);
  border-bottom: 1px solid var(--dark-to-light);
}


/*******************************************************************/
.Ram {
  width: 10%;
}

.RAM {
  width: 100%;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  background-color: #DCEFFD;
  transition: box-shadow 0.3s ease-in-out;
}

.RAM .ram1,
.RAM .ram2,
.RAM .ram3,
.Flag .ram {
  padding-top: 0.5Vh;
  padding-bottom: 0.5Vh;
  text-align: center;
  border-bottom: 1px solid #00A6FB;
}

.RAM .ram4,
.Flag .ramf {
  padding-top: 0.5Vh;
  padding-bottom: 0.5Vh;
  text-align: center;
}

.Rim {
  display: flex;
  align-items: center;
  width: 60%;
  margin-top: 5px;
}

.rim {
  display: flex;
  align-items: center;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}


.NomRim {
  width: 10%;
}

.Rim .C1,
.Rim .C2,
.Rim .C3 {
  border-right: 1px solid #00A6FB;
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

.Rim .C4 {
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

/********************************************************************/
.MemoireEtRam {
  grid-column: 8 / 10;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  width: 100%;
}

.MemoireEtRim {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*******************************************************************/
.CO {
  text-align: center;
  width: 50%;
}

.Co {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  background-color: #DCEFFD;
  width: 100%;
  margin-top: 2px;
  transition: box-shadow 0.3s ease-in-out;
}


.boxShadowBlue {
  box-shadow: 0px 0px 24px rgba(0, 166, 251, 0.48), 0px 0px 16px 10px rgba(0, 166, 251, 0.13), 0px 102px 41px rgba(0, 166, 251, 0.01), 0px 57px 34px rgba(0, 166, 251, 0.05), 0px 25px 25px rgba(0, 166, 251, 0.09), 0px 6px 14px rgba(0, 166, 251, 0.1), 0px 0px 0px rgba(0, 166, 251, 0.1);
}

.Co .C1,
.Co .C2,
.Co .C3 {
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
  border-right: 1px solid #00A6FB;
}

.Co .C4 {
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

/**********************************************************/
.CoEtBus {
  grid-column: 6 / 8;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.BusCoToRam {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/********************************************************/
.BusCo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33%;
  width: 5%;
}

.RamBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 58%;
  width: 5%;

}

.BusCo .triangleHaut,
.BusCo .triangleBas,
.RamBusDonnees .triangleHaut,
.RamBusDonnees .triangleBas {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.BusCo .triangleHaut,
.RamBusDonnees .triangleHaut {
  border-bottom: 20px solid var(--dark-to-light);
}

.BusCo .triangleBas,
.RamBusDonnees .triangleBas {
  border-top: 20px solid var(--dark-to-light);
}

.BusCo .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

.RamBusDonnees .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/*********************************************************/

.CoToRam {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}

.CoToRam .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

.CoToRam .triangleDroit {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid var(--dark-to-light);
}

/****************************************************************/

.BusDonnees {
  grid-row: 2 / 3;
  grid-column: 2 / 8;
  border: 2px solid #00A6FB;
  text-align: center;
  padding: 0.5%;
  transition: box-shadow 0.3s ease-in-out;
}

/**************************************************************/

.UalEtEuals {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95%;
}

/***************************************************************/

.UAL {
  height: 100%;
}

.UAL .ual1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  border-top: 2px solid var(--dark-to-light);
  border-left: 2px solid var(--dark-to-light);
  border-right: 2px solid var(--dark-to-light);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}

.UAL .ual2 {
  display: flex;
  height: 40%;
}

.UAL .ual2 .r1,
.UAL .ual2 .r3 {
  width: 40%;
  border-left: 2px solid var(--dark-to-light);
  border-right: 2px solid var(--dark-to-light);
  border-bottom: 2px solid var(--dark-to-light);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.UAL .ual2 .r2 {
  width: 40%;
  border-top: 2px solid var(--dark-to-light);
}

/**************************************************************/

.Euals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.Eual1,
.Eual2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  width: 30%;
  transition: box-shadow 0.3s ease-in-out;
}

.Eual1 .eual,
.Eual2 .eual {
  border-right: 1px solid #00A6FB;
  text-align: center;
  padding: 2%;
  font-size: 12px;
  width: 20%;
}

.Eual1 .eualf,
.Eual2 .eualf {
  text-align: center;
  padding: 2%;
  font-size: 12px;
  width: 20%;
}

.Trait {
  width: 20%;
  height: 2px;
  background-color: var(--dark-to-light);
  transform-origin: center center;
  transform: rotate(150deg);
}

/**************************************************************/
.Flag {
  width: 10%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5Vh;
}

.FLAG {
  width: 100%;
  height: 60%;
  border: 2px solid #00A6FB;
  background-color: #CFEFFF;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.UalEtFlag {
  grid-row: 3 / span 1;
  grid-column: 2 / 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}

/***************************************************************/

.Uc {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 3 / span 1;
  grid-column: 5 / 6;
  width: 100%;
  height: 30%;
  text-align: center;
  border: 2px solid var(--dark-to-light);
  border-radius: 10px;
}

/***************************************************************/

.Ri {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.Ri .ram {
  border-right: 1px solid #00A6FB;
  width: 25%;
  padding: 2%;
  text-align: center;
}

.Ri .ramf {
  width: 25%;
  padding: 2%;
  text-align: center;
}

/***********************************************************/

.UcEtRi {
  grid-row: 3 / span 1;
  grid-column: 5 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.BusUcToRi {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 10%;
  transition: box-shadow 0.3s ease-in-out;
}


.BusUcToRi .triangleHaut,
.BusUcToRi .triangleBas,
.UcBusDonnees .triangleHaut,
.UcBusDonnees .triangleBas,
.UalBusDonnees .triangleHaut,
.UalBusDonnees .triangleBas {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.BusUcToRi .triangleHaut,
.UcBusDonnees .triangleHaut,
.UalBusDonnees .triangleHaut {
  border-bottom: 20px solid var(--dark-to-light);
}

.BusUcToRi .triangleBas,
.UcBusDonnees .triangleBas {
  border-top: 20px solid var(--dark-to-light);
}

.BusUcToRi .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
}

.UcBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  width: 10%;
}

.UcBusDonnees .rectangle {
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--dark-to-light);
  border-right: 1px solid var(--dark-to-light);
  border-left: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}


/********************************************************/

.UalBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
}


.UalBusDonnees .rectangle {
  width: 8%;
  height: 100%;
  border-top: 1px solid var(--dark-to-light);
  border-right: 1px solid var(--dark-to-light);
  border-left: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/**********************************************************/

.EualsBusDonnees {
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 0.4%;
}

.EualsBusDonnees .triangleHaut {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--dark-to-light);
}

.EualsBusDonnees .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/***********************************************************/

.BusEuals {
  width: 100%;
  height: 4%;
  display: flex;
  align-items: center;
}

.BusEuals .triangleGauche {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid var(--dark-to-light);
}

.BusEuals .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/************************************************************/

.UalEtBus {
  grid-row: 3 / span 1;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/***********************************************************/

.RimBusDonnees {
  grid-row: 2 / span 1;
  grid-column: 8 / 9;
  display: flex;
  align-items: center;
  margin-top: 8%;
  width: 100%;
  height: 35%;
}

.RimBusDonnees .triangleGauche {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid var(--dark-to-light);
}

.RimBusDonnees .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/***********************************************************/

.RimToRi {
  grid-row: 1 / span 2;
  grid-column: 9 / 10;
  height: 93.2%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40VH;
}

.RimToRi .triangleHaut {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--dark-to-light);
}

.RimToRi .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
  transition: box-shadow 0.3s ease-in-out;
}

/***********************************************************/

.RimBusRi {
  grid-row: 3 / span 1;
  grid-column: 6 / 9;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4%;
  margin-top: 34.5Vh;
}

.RimBusRi .triangleGauche {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid var(--dark-to-light);
}

.RimBusRi .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-to-light);
}

@media screen and (max-width: 1275px) {

  .NomReg {
    font-size: 60%;
  }

  .NomRegistres {
    font-size: 85%;
  }

}

/***********************************************************/

.ButtonStop {
  grid-row: 3;
  grid-column: 9 / span 2;
  margin-left: 8vw;
  margin-top: 20vh;
}


.ButtonStop button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #00A6FB;
  border: 1px solid #00A6FB;
  font-weight: 400;
  box-shadow: 27px 30px 16px rgba(36, 84, 132, 0.01), 15px 17px 14px rgba(36, 84, 132, 0.05), 7px 7px 10px rgba(36, 84, 132, 0.09), 2px 2px 6px rgba(36, 84, 132, 0.1), 0px 0px 0px rgba(36, 84, 132, 0.1);
  border-radius: 10px;
  padding: 1.2vh 2vw;
}

/***********************************************************/
.RegColor {
  background-color: #CFEFFF;
}

/***********************************************************/

.FlagBusDonnees {
  height: 40%;
  width: 45%;
  background-color: #00A6FB;
}

.FlagBusDonnees .rectangle {
  width: 100%;
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

/***********************************************************/

/* L'element qui permet à la page de devenir floue  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(182, 216, 242, 0.48);
  backdrop-filter: blur(4px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*La fenetre qui sera afficher lorsqu'on clique sur le button arreter*/

.FinSimulation {
  width: 25%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F8F9FA;
  box-shadow: 0px 157px 63px rgba(52, 65, 76, 0.01), 0px 88px 53px rgba(52, 65, 76, 0.05), 0px 39px 39px rgba(52, 65, 76, 0.09), 0px 10px 22px rgba(52, 65, 76, 0.1), 0px 0px 0px rgba(52, 65, 76, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  /* Ajouter une animation de transition */
  z-index: 1000;
  opacity: 1;
}

/*Le button fin*/

.buttonFin {
  width: 80%;
  height: 80%;
  cursor: pointer;
}

.FinSimulation h2 {
  padding-top: 5%;
}

/***********************************************************/

.dynaa {
  position: absolute;
  top: 58vh;
  left: 81vw;
  background: #99DBFD;
  box-shadow: 0px 45px 18px rgba(112, 128, 143, 0.01), 0px 26px 15px rgba(112, 128, 143, 0.05), 0px 11px 11px rgba(112, 128, 143, 0.09), 0px 3px 6px rgba(112, 128, 143, 0.1), 0px 0px 0px rgba(112, 128, 143, 0.1);
  border-radius: 2.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #023047;
  font-style: normal;
  font-weight: 600;
  font-size: 2.75vh;
  width: 16vw;
  height: 10vh;
}