.Light {
    height: 4%;
    width: 5%;
    z-index: 10;
    border-radius: 10px;
    background-color: #FFE600;
    box-shadow: 0 0 5px 4px #FFE600;
    grid-row: 1;
    grid-column: 6 / span 2;
    margin-left: 47.5%;
    margin-top: 25%;
    opacity: 40%;
    transition: all 1s ease-in-out;
  }


  