header {
   height: 100px;
  background-color: #fff;
  z-index: 10;
}


.navbar {

   display: grid;
  grid-template-columns: 1fr auto;
 align-items: center;
  width: calc(100%);
  max-width:none;
 margin-top: 0;
 margin-left: 0%;

  

}

h2 {
  margin-top: 30px;

  color: #023047;
  font-size: 30px;
  font-style: SemiBold;
  font-family: Montserrat;
  font-weight: 1000;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-icon,
.avatar-icon {
  margin-top: 30px;
  margin-right: 20px;
}

.avatar-icon {
  width: 35px;
  height: 35px;
}

.info-icon {
  height: 35px;
  width: 35px;
}

.nav-icons {
  justify-self: end;
}
