body {
  margin: 0;
  color: #023047;
  box-sizing: border-box;
}

.Container {
  padding: 50px;
  height: 100Vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 45Vh auto 50Vh;
  align-items: flex-start;
}

.Registre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #00A6FB;
  border-radius: 5px;
  background-color: #DCEFFD; 
  width: 100%;
  margin-bottom: 3px;
}

.Registre .C1, .Registre .C2, .Registre .C3{
  width: 25%;
  height: 3Vh;
  padding: 0.5Vh;
  text-align: center;
  border-right: 1px solid #00A6FB;
}

.Registre .C4 {
  width: 25%;
  text-align: center;
  height: 3Vh;
  padding: 0.5Vh;
}

.Registres {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: 40Vh;
  margin-top: 2px;
}

.registres {
  margin-top: 2px;
}

.RegToBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18Vh;
}

.RegToBusDonnees .triangleHaut, .RegToBusDonnees .triangleBas {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.RegToBusDonnees .triangleHaut {
  border-bottom: 20px solid #023047;
}

.RegToBusDonnees .triangleBas {
  border-top: 20px solid #023047;
}

.RegToBusDonnees .rectangle {
  width: 14px;
  height: 18Vh;
  border: 1px solid #023047;
}
/**********************************************************************/
.Pile {
  grid-column:  4 / 5;
  grid-row: 1 / 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pile {
  margin-top: 2px;
  border: 2px solid #023047;
  border-radius: 5px;
  overflow-y: scroll;
  width: 100%;
  height: 31Vh;
}


.RegistrePile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RegistrePile .C1, .RegistrePile .C2, .RegistrePile .C3, .RegistrePile .C4 {
  width: 25%;
  padding: 2%;
  text-align: center;
  border-right: 1px solid #023047;
  border-bottom: 1px solid #023047;
}

.pile::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.pile::-webkit-scrollbar-thumb {
  background-color: #00A6FB;
  height: 20px;
  border-radius: 5px;
}

.PileBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10Vh; 
}

.PileBusDonnees .triangleHaut, .PileBusDonnees .triangleBas {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.PileBusDonnees .triangleHaut {
  border-bottom: 20px solid #023047;
}

.PileBusDonnees .triangleBas {
  border-top: 20px solid #023047;
}

.PileBusDonnees .rectangle{
  width: 14px;
  height: 100%;
  border: 1px solid #023047;
}

/*******************************************************************/

.Memoire {
  margin-top: 2px;
  border: 2px solid #023047;
  border-radius: 5px;
  overflow-y: scroll;
  width: 70%;
  text-align: center;
}

.Memoire::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.Memoire::-webkit-scrollbar-thumb {
  background-color: #00A6FB;
  height: 20px;
  border-radius: 5px;
}

.CaseMemoire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CaseMemoire .C1, .CaseMemoire .C2, .CaseMemoire .C3, .CaseMemoire .C4 {
  width: 25%;
  padding: 2%;
  text-align: center;
  border-right: 1px solid #023047;
  border-bottom: 1px solid #023047;
}


/*******************************************************************/
.Ram {
  width: 10%;
}

.RAM {
  width: 100%;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  background-color: #DCEFFD;
}

.RAM .ram, .Flag .ram{
  padding-top: 0.5Vh;
  padding-bottom: 0.5Vh;
  text-align: center;
  border-bottom: 1px solid #00A6FB;
}

.RAM .ramf, .Flag .ramf{
  padding-top: 0.5Vh;
  padding-bottom: 0.5Vh;
  text-align: center;
}

.Rim {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  margin-top: 5px;
}

.Rim .ram {
  border-right: 1px solid #00A6FB;
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

.Rim .ramf {
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

/********************************************************************/
.MemoireEtRam {
   grid-column:  8 / 10;
   grid-row: 1 / 2;
   display: flex;
   align-items: center;
   width: 100%;
}

.MemoireEtRim {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*******************************************************************/
.CO {
  text-align: center;
  width: 50%;
}

.Co {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  background-color: #DCEFFD; 
  width: 100%;
  margin-top: 2px;
}

.Co .C1, .Co .C2, .Co .C3{
  width: 25%;
  padding: 0.5Vh  ;
  text-align: center;
  border-right: 1px solid #00A6FB;
}
.Co .C4 {
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

/*******************************************************/
.CoEtBus {
  grid-column: 6 / 8;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50Vh;
}

.BusCoToRam {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40Vh;
}

/********************************************************/
.BusCo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12Vh;
}

.RamBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 21Vh;

}

.BusCo .triangleHaut, .BusCo .triangleBas, .RamBusDonnees .triangleHaut, .RamBusDonnees .triangleBas {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.BusCo .triangleHaut, .RamBusDonnees .triangleHaut {
  border-bottom: 20px solid #023047;
}

.BusCo .triangleBas, .RamBusDonnees .triangleBas  {
  border-top: 20px solid #023047;
}

.BusCo .rectangle{
  width: 14px;
  height: 12Vh;
  border: 1px solid #023047;
}

.RamBusDonnees .rectangle {
    width: 14px;
    height: 21Vh;
    border: 1px solid #023047;
}

/*********************************************************/

.CoToRam {
  width: 100%;
  display: flex;
  align-items: center;
}

.CoToRam .rectangle {
  width: 100%;
  height: 3Vh;
  border: 1px solid #023047;

}

.CoToRam .triangleDroit {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #023047;
}

/****************************************************************/

.BusDonnees {
  grid-row: 2 / 3;
  grid-column: 2 / 8;
  border: 2px solid #00A6FB;
  text-align: center;
  padding: 0.5Vh;
}

/**************************************************************/

.UalEtEuals {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95%;
}

/***************************************************************/

.UAL {
  height: 30Vh
}

.UAL .ual1 {
    height: 12Vh;
    border-top: 2px solid #023047;
    border-left: 2px solid #023047;
    border-right: 2px solid #023047;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

.UAL .ual2 {
  display: flex;
  height: 8Vh;
}

.UAL .ual2 .r1 , .UAL .ual2 .r3{
    width: 40%;
    border-left: 2px solid #023047;
    border-right: 2px solid #023047;
    border-bottom: 2px solid #023047;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.UAL .ual2 .r2{
    width: 40%;
    border-top: 2px solid #023047;
}

/**************************************************************/

.Euals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.Eual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  width: 30%;
}

.Eual .eual {
  border-right: 1px solid #00A6FB;
  text-align: center;
  padding: 2%;
  font-size: 12px;
  width: 20%;
}

.Eual .eualf {
  text-align: center;
  padding: 2%;
  font-size: 12px;
  width: 20%;
}

.Trait {
  width: 20%;
  height: 2px;
  background-color: #023047;
  transform-origin: center center;
  transform: rotate(150deg);
}

/***************************************************/
 .Flag{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5Vh;
  margin-top: 5Vh;
}

.FLAG {
  width: 100%;
  border: 2px solid #00A6FB;
  background-color: #CFEFFF;
  border-radius: 5px;
}

.UalEtFlag {
  grid-row: 3 / span 1;
  grid-column: 2 / 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 35Vh;
}

/***************************************************************/

.Uc {
  grid-row: 3 / span 1;
  grid-column: 5 / 6;
  width: 100%;
  height: 15Vh;
  text-align: center;
  border: 2px solid #023047;
  border-radius: 10px;
}

/***************************************************************/

.Ri {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #00A6FB;
  border-radius: 5px;
  width: 100%;
}

.Ri .ram {
  border-right: 1px solid #00A6FB;
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

.Ri .ramf {
  width: 25%;
  padding: 0.5Vh;
  text-align: center;
}

/***********************************************************/

.UcEtRi {
  grid-row: 3 / span 1;
  grid-column: 5 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50Vh;
}

.BusUcToRi {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 10Vh;
}

.BusUcToRi .triangleHaut, .BusUcToRi .triangleBas,
.UcBusDonnees .triangleHaut, .UcBusDonnees .triangleBas,
.UalBusDonnees .triangleHaut, .UalBusDonnees .triangleBas{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.BusUcToRi .triangleHaut, .UcBusDonnees .triangleHaut, .UalBusDonnees .triangleHaut  {
  border-bottom: 20px solid #023047;
}

.BusUcToRi .triangleBas, .UcBusDonnees .triangleBas {
  border-top: 20px solid #023047;
}

.BusUcToRi .rectangle{
  width: 14px;
  height: 100%;
  border: 1px solid #023047;
}

/***************************************************/

.UcBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8Vh;
}

.UalBusDonnees {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12Vh;
}

.UcBusDonnees .rectangle, .UalBusDonnees .rectangle{
  width: 14px;
  height: 100%;
  border-top: 1px solid #023047;
  border-right: 1px solid #023047;
  border-left: 1px solid #023047;
}

/**********************************************************/

.EualsBusDonnees {
  height: 35Vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}

.EualsBusDonnees .triangleHaut {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #023047;
}

.EualsBusDonnees .rectangle {
  width: 14px;
  height: 100%;
  border: 1px solid #023047;
}

/***********************************************************/

.BusEuals {
  width: 99.5%;
  height: 5%;
  display: flex;
  align-items: center;
}

.BusEuals .triangleGauche {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #023047;
}

.BusEuals .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid #023047;
}

/************************************************************/

.UalEtBus {
  grid-row: 3 / span 1;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50Vh;
}

/***********************************************************/

.RimBusDonnees {
  grid-row: 2 / span 1;
  grid-column: 8 / 10;
  display: flex;
  align-items: center;
  width: 52.6%;
  height: 14px;
}

.RimBusDonnees .triangleGauche {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #023047;
}

.RimBusDonnees .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid #023047;
}

/**************************************************/

.RimToRi {
  grid-row: 1 / span 2;
  grid-column: 9 / 10;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80%;
  margin-top: 40VH;
}

.RimToRi .triangleHaut {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #023047;
}

.RimToRi .rectangle {
  width: 14px;
  height: 100%;
  border: 1px solid #023047;
}

/***************************************************/

.RimBusRi {
  grid-row: 3 / span 1;
  grid-column: 6 / 10;
  display: flex;
  align-items: center;
  width: 79.1%;
  height: 14px;
  margin-top: 35Vh;
}

.RimBusRi .triangleGauche {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #023047;
}

.RimBusRi .rectangle {
  width: 100%;
  height: 100%;
  border: 1px solid #023047;
}


@media screen and (min-height: 560px) and (max-height: 695px){

  .PileBusDonnees {
    height: 9.5Vh;
  }

  .PileBusDonnees .rectangle {
    width: 13px;
  }

  .RegToBusDonnees {
    height: 16.5Vh;
  }

  .RegToBusDonnees .rectangle {
    width: 13px;
  }

  .RamBusDonnees {
    height: 19Vh;
}

  


  
}  










